.feature-box {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    height: 100%;
    width: 100%;
    
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1em;
    margin: 0.5em;
    background-color: #fdc15f;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.158);
    
}

.image-box{
    display: flex;
    margin:auto;
    align-items: center;
    max-height: 400px;
    width:95%;
    background-image:url("../../../../assets/img/landing_image.jpeg");
    border-radius: 10px;
    overflow: hidden;
}
.splash-info {
    flex-direction: column;
    height:200%;
    top: -50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    padding:200px;
    max-height: 500px;
}
.slide-text{
    font-family: Mali;
    font-size: 45px;
}



.feature-container{
    width:95%;
    margin:auto;
}
.landing-content{
    padding: 1em;
    text-align: center;
}
.landing-content > img {
    max-height: 500px;
    height: auto;
  
    margin: auto;
    max-width: 80vw;
}
.landing-content * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em;
    margin: 1.5em 0;
    line-height: 1.5em;
    font-size: 17px;
}
.features{
    font-size: 30px;
    margin-bottom: 10px;
}

.more-info {
    margin: auto;
    width:65%;
}


@media screen and (min-width: 601px) {
    .slide-text {
    font-size: 45px;
    }
    .slide-desc{
        font-size: 20px;
    }
}


@media screen and (max-width: 600px) {
    .slide-text {
      font-size: 25px;
    }
    .features {
        font-size: 15px;
    }
    .feature-box {
        width:80%;
    }
  }    


